.dummynator-sidebar__wrapper{
        padding: 10px;

        .components-base-control__field {
            display: flex;
            justify-content: space-between;
            align-items: center;        
        }

        .components-icon-button:not(:disabled):hover {
                box-shadow: none;
        }
}

.wp-core-ui {
        .dummynator-sidebar__wrapper .button.button-large {
                padding-top: 3px;
        }
}